/* src/styles.css */

.common {
  /* all the common styles you want */
  color: #fff;
  border-width: 0;
  padding: .7rem 2.2rem;
  border-radius: 3px;
  text-transform: capitalize;
  font-weight: bold;
  margin: 0.2rem;
}

.normal {
  composes: common;

  /* anything that only applies to Normal */
  background-color: #4B8043;
}

.disabled {
  composes: common;

  /* anything that only applies to Disabled */
  background-color: #D8E5D5;
}

.error {
  composes: common;

  /* anything that only applies to Error */
  background-color: #AC3D3D;
}
